/* This is the default styling for the viewer. You are free to modify
 * this document as long as you comply with CSS version 2. */

body {
    background-color: #e1ffce;
}

hr {
    height: 2px;
    border-width: 0;
    color: #599532;
    background-color: #599532;
}

table th,td {
    border: 1px solid #599532;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

th {
   color: #e1ffce;
   background-color: #599532;
}

h1 {
    padding: 15px;
    color: #e1ffce;
    background-color: #599532;
}

h2,h3,h4,h5,h6 {
    color: #599532;
}

ul li {
    list-style-type: circle;
}

ol li {
    list-style-type: decimal-leading-zero;
}

ol li {
    list-style-type: decimal-leading-zero;
}

strong {
    color: #213c10;
}

blockquote {
    width: 500px;
    line-height: 1.45;
    position: relative;
    color: #599532;
}

blockquote:before {
    display: block;
    content: "\201C";
    position: absolute;
    font-size: 40px;
    left: -20px;
    top: -20px;
}

a {
    text-decoration: underline;
    color: blue;
}
