/* This is the default styling for the viewer. You are free to modify
 * this document as long as you comply with CSS version 2. */

body {
    background-color: #d9d4fe;
}

hr {
    height: 2px;
    border-width: 0;
    color: #393276;
    background-color: #393276;
}

table th,td {
    border: 1px solid #675cc0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

th {
    color: #d9d4fe;
    background-color: #675cc0;
}

h1 {
    padding: 15px;
    color: #d9d4fe;
    background-color: #393276;
}

h2,h3,h4,h5,h6 {
    color: #393276;
}

ul li {
    list-style-type: circle;
}

ol li {
    list-style-type: decimal-leading-zero;
}

strong {
    color: #151130;
}

blockquote {
    color: #393276;
    width: 500px;
    line-height: 1.45;
    position: relative;
}

blockquote:before {
    display: block;
    content: "\201C";
    position: absolute;
    font-size: 40px;
    left: -20px;
    top: -20px;
}

a {
    text-decoration: underline;
    color: blue;
}